/* Basic styling */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.hidden {
  display: none !important;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


#game-grid {
  display: grid;
  gap: 5px;
  margin-top: 10px;
}


.grid-cell {
  width: 40px;
  height: 40px;
  background-size: cover;
  border: 1px solid #999;
  border-radius: 4px;
}

.cell-mountain {
  background-image: url('pics/tiles/mountain.png');
}

.cell-mountain-rail {
  background-image: url('pics/tiles/mountain_rail.png');
}

.cell-bridge {
  background-image: url('pics/tiles/bridge.png');
}

.cell-bridge-rail {
  background-image: url('pics/tiles/bridge_rail.png');
}

.cell-straight-rail {
  background-image: url('pics/tiles/straight_rail.png');
}

.cell-curve-rail{
  background-image: url('pics/tiles/curve_rail.png');
}

.cell-oasis {
  background-image: url('pics/tiles/oasis.png');
}

.cell-empty {
  background-image: url('pics/tiles/empty.png');
}





.palette {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.rail-tile {
  width: 40px;
  height: 40px;
  border: 1px solid #323232;
  border-radius: 4px;
  cursor: pointer;
}

.straight {
  background-image: url("./pics/tiles/straight_rail.png") !important;
  background-size: cover;
}

.curve {
  background-image: url("pics/tiles/curve_rail.png");
  background-size: cover;
}

.rail-tile:hover {
  opacity: 0.8;
}

.rail-tile-active {
  width: 40px;
  height: 40px;
  border: 1px solid red;
  cursor: pointer;
  border-radius: 4px;
}


#message-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#message-text {
  margin-bottom: 20px;
}

#close-message-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#close-message-btn:hover {
  background-color: #0056b3;
}

#leaderboard-list {
  list-style-type: decimal; 
  padding-left: 20px; 
}

#leaderboard-list li {
  font-size: 16px; 
  margin-bottom: 5px; 
}